<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Exames
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
  <ion-item>
    <ion-label class="ion-text-wrap" color="primary">
      <h1>Acuidade Visual</h1>
      <p>A acuidade visual é um exame oftalmológico que avalia a capacidade do olho de identificar letras ou símbolos em uma tabela de optotipos, geralmente posicionada a uma distância de 6 metros.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap" color="primary">
      <h1>Mapeamento de retina</h1>
      <p>O mapeamento de retina é um exame oftalmológico que avalia a retina, que é a camada de tecido nervoso na parte de trás do olho que é responsável pela captura de imagens visuais. </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap" color="primary">
      <h1>Paquimetria</h1>
      <p>A paquimetria é um exame oftalmológico que mede a espessura da córnea, que é a camada transparente e convexa na frente do olho. Durante o exame, o oftalmologista usa um aparelho chamado paquímetro para medir a espessura da córnea em diferentes pontos.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap" color="primary">
      <h1>Teste de daltonismo</h1>
      <p>O teste de daltonismo é um exame oftalmológico que avalia a capacidade de uma pessoa de diferenciar as cores. Durante o teste, o oftalmologista apresenta uma série de imagens com pontos coloridos em padrões específicos. </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap" color="primary">
      <h1>Exame de refração</h1>
      <p>O exame de refração é um teste oftalmológico que avalia a capacidade do olho de focar a luz corretamente na retina, permitindo que a visão seja clara e nítida.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap" color="primary">
      <h1>Topografia corneana</h1>
      <p>A topografia corneana é um exame oftalmológico que avalia a curvatura da córnea, que é a camada transparente e convexa na frente do olho. Durante o exame, o oftalmologista usa um aparelho chamado topógrafo para mapear a curvatura da córnea em diferentes pontos.</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
