<ion-header [translucent]="true" >
  <ion-toolbar color="tertiary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

<div>
  <img src="../../assets/perfil.png" alt="perfil">
</div>

<form>
  <ion-item lines="none" fill="outline">
    <ion-input label="Nome:" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="Idade:" type="number" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="Email:" type="email" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="CPF:" type="number" label-Placement="floating"
    maxlength="11"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline" maxlength="8">
    <ion-input label="CEP:" type="number"
    maxlength="8" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="Logradouro:" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="Complemento:" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="Bairro:" label-Placement="floating"></ion-input>
  </ion-item>

  <ion-item lines="none" fill="outline">
    <ion-input label="Localidade:" label-Placement="floating"></ion-input>
  </ion-item>
</form>
</ion-content>
