<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Equipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div><img src="../../assets/logo.png" alt="logotipo"></div>
  <div>
    <h1>EYEHELP</h1>
    <p>Bem-vindo(a) à nossa clínica oftalmológica! Estamos muito felizes em recebê-lo(a) e esperamos que a sua visita aqui seja agradável e produtiva. Nossa equipe de profissionais altamente qualificados e experientes está pronta para cuidar da sua saúde ocular e oferecer o melhor tratamento para suas necessidades. Temos equipamentos de última geração e oferecemos uma ampla gama de serviços, desde exames de rotina até cirurgias complexas. Nossa prioridade é proporcionar um atendimento personalizado e de qualidade, visando sempre a sua satisfação e bem-estar. Mais uma vez, seja bem-vindo(a) à nossa clínica oftalmológica e estamos ansiosos para ajudá-lo(a) a ter uma visão saudável e nítida! </p>
  </div>
<br>
  <h5>Endereço: Rua dos Oftalmologistas, 123 - Bairro Visão Perfeita, Cidade dos Olhos - Estado de Boa Visão, CEP: 12345-678</h5>
  <h5>Telefone: (11) 5555-5555</h5>
  <h5>E-mail: contato@eyehelp.com.br</h5>


</ion-content>
